/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


$font-family-sans-serif: "Work Sans", sans-serif;

body {
  font-family: $font-family-sans-serif;
}

// Colors
$dark-green: #1B540D;
$light-green: #628C66;
$lightest-green: #79AD7F;
$seaweed: #9b927d;
$grey: #4B5563;
$light-grey: #6B7280;


// New color combo
$background-color: #F3F4F2;
// $background-color: #e1e1e1;
$h1-color: $dark-green;
$h2-color: #517b58;
$h3-color: $light-grey;
$h4-color: $seaweed;

h1 {
    font-size: 36px !important;
    color: $h1-color !important;
    font-family: 'DM Serif Display',serif;
  }

h2 {
  font-size: 30px !important;
  color: $h2-color !important;
  font-family: 'DM Serif Display',serif;
}

h3 {
  font-size: 27px !important;;
  color: $h3-color !important;
  font-family: 'DM Serif Display',serif;
}

h4 {
  font-size: 14px;
  color: $h4-color !important;
  font-family: 'DM Serif Display',serif;
}

// Base document colors
$body-bg: $background-color; // page background 
$navbar-bg: $background-color; // navbar
$navbar-hl: $h1-color; // highlight color when hovering over navbar links

$body-color: #313131; // page text 
// $footer-bg: $cream; // footer 
$link-color: $light-green; // hyperlinks 
$link-color-hover:$h1-color;

// Inline code
// $code-bg: $cream; // inline code background color
// $code-color: $purple; // inline code text color

/* Change font family in Quarto navbar */
.navbar, .navbar-brand, .navbar-nav, .navbar-nav a.nav-link {
  font-family: 'Work Sans',serif;
}

// 
#title-block-header .description {
    display: none;
}
